In [99]:
from useful_functions import *
import warnings
warnings.filterwarnings('ignore')
from category_encoders import LeaveOneOutEncoder,WOEEncoder
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(palette = "Dark2")
my_colors = [(0.10588235294117647, 0.6196078431372549, 0.4666666666666667),
  (0.8509803921568627, 0.37254901960784315, 0.00784313725490196)]
pd.set_option('display.max_columns', None)
from itertools import chain, combinations
import math

In [2]:
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score
from catboost import CatBoostClassifier, Pool
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
import tensorflow as tensorflow
from lightgbm import LGBMClassifier
from sklearn.preprocessing import StandardScaler

### **5 Leave-one-out Encoding**
In order not to split the data into three different sets, we will use a leave-one-out encoding. This type of encoding calculates the target response mean for each variable **excluding** the current observation to reduce the effect of outliers. It further adds random noise to the target response to avoid overfitting.

In [34]:
df = pd.read_csv("df_processed.csv")
df

,order_item_id,order_date,delivery_date,item_id,size,item_color,brand_id,item_price,user_id,user_title,user_dob,user_state,user_reg_date,return,delivery_time,order_id,user_age,user_reg_age,order_weekday,delivery_weekday,order_month,delivery_month,order_day,delivery_day,order_week,delivery_week,order_item_count,order_sum,average_item_price_order,order_number_same_item_id,order_number_different_item_id,order_number_same_size,order_number_different_size,order_number_same_item_color,order_number_different_item_color,order_number_same_brand_id,order_number_different_brand_id,order_number_same_item_id_size,order_number_different_item_id_size,order_number_same_item_id_item_color,order_number_different_item_id_item_color,order_number_same_size_item_color,order_number_different_size_item_color,order_number_same_size_brand_id,order_number_different_size_brand_id,order_number_same_item_color_brand_id,order_number_different_item_color_brand_id,order_number_same_item_id_size_item_color,order_number_different_item_id_size_item_color,order_number_same_size_item_color_brand_id,order_number_different_size_item_color_brand_id
0,1,2012-04-01,2012-04-03,186,s,denim,25,69.90,794,Mrs,1965-01-06,Bad-Wue,2011-04-25,0.0,2,2012-04-01_794,47,342,6,1,4,4,1,3,13,14,3,209.8,69.93,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2
1,2,2012-04-01,2012-04-03,71,unsized,ocher,21,69.95,794,Mrs,1965-01-06,Bad-Wue,2011-04-25,1.0,2,2012-04-01_794,47,342,6,1,4,4,1,3,13,14,3,209.8,69.93,2,1,2,1,1,2,2,1,2,1,1,2,1,2,2,1,1,2,1,2,1,2
2,3,2012-04-01,2012-04-03,71,unsized,curry,21,69.95,794,Mrs,1965-01-06,Bad-Wue,2011-04-25,1.0,2,2012-04-01_794,47,342,6,1,4,4,1,3,13,14,3,209.8,69.93,2,1,2,1,1,2,2,1,2,1,1,2,1,2,2,1,1,2,1,2,1,2
3,4,2012-04-02,2012-04-06,22,s,green,14,39.90,808,Mrs,1959-11-09,Saxony,2012-01-04,0.0,4,2012-04-02_808,52,89,0,4,4,4,2,6,14,14,1,39.9,39.90,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0
4,5,2012-04-02,2012-04-06,151,s,black,53,29.90,825,Mrs,1964-07-11,S-Holstein,2011-02-16,0.0,4,2012-04-02_825,48,411,0,4,4,4,2,6,14,14,3,249.7,83.23,1,2,2,1,2,1,1,2,1,2,1,2,2,1,1,2,1,2,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531165,50074,2013-04-29,2013-05-03,2342,s,terracotta,5,69.90,91920,Mrs,1962-03-08,Bayern,2013-04-29,NaN,4,2013-04-29_91920,51,0,0,4,4,5,29,3,18,18,9,748.2,83.13,1,8,5,4,3,6,4,5,1,8,1,8,3,6,4,5,3,6,1,8,3,6
531166,50075,2013-04-29,2013-05-03,2505,s,terracotta,5,64.90,91920,Mrs,1962-03-08,Bayern,2013-04-29,NaN,4,2013-04-29_91920,51,0,0,4,4,5,29,3,18,18,9,748.2,83.13,2,7,5,4,3,6,4,5,2,7,2,7,3,6,4,5,3,6,2,7,3,6
531167,50076,2013-04-28,2013-05-02,2470,l,white,5,79.90,85095,Mrs,1950-02-14,Berlin,2013-03-24,NaN,4,2013-04-28_85095,63,35,6,3,4,5,28,2,17,18,1,79.9,79.90,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0
531168,50077,2013-04-28,2013-05-02,2452,m,white,5,59.90,91922,Mrs,1969-11-27,Bburg,2013-04-28,NaN,4,2013-04-28_91922,43,0,6,3,4,5,28,2,17,18,2,119.8,59.90,2,0,2,0,1,1,2,0,2,0,1,1,1,1,2,0,1,1,1,1,1,1
531169,50078,2013-04-28,2013-05-02,2452,m,black,5,59.90,91922,Mrs,1969-11-27,Bburg,2013-04-28,NaN,4,2013-04-28_91922,43,0,6,3,4,5,28,2,17,18,2,119.8,59.90,2,0,2,0,1,1,2,0,2,0,1,1,1,1,2,0,1,1,1,1,1,1

In [81]:
low_cardinality_cat_cols = ["size","item_color","user_title","user_state"]
high_cardinality_cat_cols = ["item_id","brand_id","user_id"]
cat_cols = low_cardinality_cat_cols + high_cardinality_cat_cols

In [35]:
# size of the known dataset
k = max(df["order_item_id"])-1
# Get the validation set
df_valid = df.iloc[k+1:, :]

In [6]:
# Get list of the months to train, remove months on which to test
months_to_train = list(range(1,13))
months_to_train.remove(3)
# Split into train and test. "~" in front of a variable means "not"
df_train = df.loc[:k][df.loc[:k,"order_month"].isin(months_to_train)]
df_test = df.loc[:k][~df.loc[:k,"order_month"].isin(months_to_train)]

# Drop unnecessary columns
columns_to_drop = ["order_date", "delivery_date", "user_dob", "user_reg_date", "order_id","order_item_id"]
df_train.drop(columns_to_drop, axis=1, inplace=True)
df_test.drop(columns_to_drop, axis=1, inplace=True)
df_valid.drop(columns_to_drop, axis=1, inplace=True)

Since we are no longer using one-hot encoding, we will rework our models not to include the one-hot encoding.

In [71]:
# Xgboost classifier to train the model and use ROC as the metric
def xgboost_classifier(df_train, df_test):
    X_train, Y_train = df_train.drop(["return"],axis=1), df_train["return"]
    X_test, Y_test = df_test.drop(["return"],axis=1), df_test["return"]
    
    model = XGBClassifier(max_depth=7, n_estimators=50, learning_rate=0.1,
                            n_jobs=-1, random_state=42)
    model.fit(X_train, Y_train, eval_metric='auc', eval_set=[(X_test, Y_test)],early_stopping_rounds = 20,verbose = 0)
    Y_pred = model.predict(X_test)
    auc = roc_auc_score(Y_test, Y_pred)
    print("Xgboost AUC on test set:", auc)
    return model,auc

In [9]:
# Catboost classifier to train the model and use ROC as the metric
def catboost_classifier(df_train, df_test,cat_cols):
    X_train, Y_train = df_train.drop(["return"],axis=1), df_train["return"]
    X_test, Y_test = df_test.drop(["return"],axis=1), df_test["return"]
    model = CatBoostClassifier(iterations=50, learning_rate=0.1, depth=10,
                            loss_function='Logloss', eval_metric='AUC',
                            random_seed=42)
    pool_train = Pool(X_train, Y_train,cat_features = cat_cols)

    pool_test = Pool(X_test, Y_test,cat_features = cat_cols)
    

    
    model.fit(pool_train, eval_set=pool_test, use_best_model=True, verbose=False)
    Y_pred = model.predict(pool_test)
    auc = roc_auc_score(Y_test, Y_pred)
    print("Catboost AUC on test set:", auc)
    return model,auc

In [70]:
# LightGBM
def lightgbm(df_train,df_test):
    X_train, Y_train = df_train.drop(["return"],axis=1), df_train["return"]
    X_test, Y_test = df_test.drop(["return"],axis=1), df_test["return"]
    
    model = LGBMClassifier(boosting_type='gbdt')
    model.fit(X_train, Y_train)
    Y_pred = model.predict(X_test)
    auc = roc_auc_score(Y_test, Y_pred)
    print("LGBM AUC on test set: ", auc)
    return model,auc

In [94]:
def neural_network(df_train,df_test,epochs):
    X_train, Y_train = df_train.drop(["return"],axis=1), df_train["return"]
    X_test, Y_test = df_test.drop(["return"],axis=1), df_test["return"]
    X_train = StandardScaler().fit_transform(X_train)
    X_test = StandardScaler().fit_transform(X_test)
    
    model = Sequential()
    model.add(Dense(units=64, activation='relu', input_dim=X_train.shape[1]))
    model.add(Dense(units=64, activation='relu'))
    model.add(Dense(units=1, activation='sigmoid'))
    auc = tensorflow.keras.metrics.AUC()
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=[auc])
    
    results = model.fit(X_train, Y_train, epochs=epochs, batch_size=256, verbose=1,validation_data=(X_test, Y_test))
    Y_pred = model.predict(X_test)
    auc_1 = roc_auc_score(Y_test, Y_pred)
    print("ROC on test set:", auc_1)
    return model,auc_1, results.history[auc.name], results.history['val_'+auc.name], Y_pred

In [56]:
# Encode categorical variables using leave one out encoding
def encode_categorical_columns(df_train,df_test,columns,sig):
    encoder = LeaveOneOutEncoder(cols=columns, return_df=True,sigma=sig, verbose=True)
    df_encode_train = encoder.fit_transform(df_train.drop(["return"],axis=1),df_train[["return"]])
    df_encode_test = encoder.transform(df_test.drop(["return"],axis=1))
    df_encode_train , df_encode_test = df_encode_train.join(df_train[["return"]]), df_encode_test.join(df_test[["return"]])
    return df_encode_train, df_encode_test, encoder

In [9]:
df_train, df_test, encoder = encode_categorical_columns(df_train,df_test,cat_cols,0.1)

In [93]:
df_train

,item_id,size,item_color,brand_id,item_price,user_id,user_title,user_state,delivery_time,user_age,user_reg_age,order_weekday,delivery_weekday,order_month,delivery_month,order_day,delivery_day,order_week,delivery_week,average_item_price_order,order_item_count,order_sum,order_number_same_item_id,order_number_different_item_id,order_number_same_size,order_number_different_size,order_number_same_item_color,order_number_different_item_color,order_number_same_brand_id,order_number_different_brand_id,order_number_same_item_id_size,order_number_different_item_id_size,order_number_same_item_id_item_color,order_number_different_item_id_item_color,order_number_same_size_item_color,order_number_different_size_item_color,order_number_same_size_brand_id,order_number_different_size_brand_id,order_number_same_item_color_brand_id,order_number_different_item_color_brand_id,order_number_same_item_id_size_item_color,order_number_different_item_id_size_item_color,order_number_same_size_item_color_brand_id,order_number_different_size_item_color_brand_id,return
0,0.617373,0.548014,0.520261,0.735728,69.90,0.539592,0.487594,0.365430,2,47,342,6,1,4,4,1,3,13,14,69.93,3,209.80,0,3,0,3,0,3,0,3,0,3,0,3,0,3,0,3,0,3,0,3,0,3,0.0
1,0.723669,0.453842,0.451558,0.443151,69.95,0.441709,0.483240,0.518341,2,47,342,6,1,4,4,1,3,13,14,69.93,3,209.80,1,2,1,2,0,3,1,2,1,2,0,3,0,3,1,2,0,3,0,3,0,3,1.0
2,0.619180,0.345758,0.486067,0.640610,69.95,0.446865,0.491034,0.455364,2,47,342,6,1,4,4,1,3,13,14,69.93,3,209.80,1,2,1,2,0,3,1,2,1,2,0,3,0,3,1,2,0,3,0,3,0,3,1.0
3,0.396502,0.490705,0.393220,0.658324,39.90,0.510317,0.404429,0.537943,4,52,89,0,4,4,4,2,6,14,14,39.90,1,39.90,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0.0
4,0.577156,0.550700,0.627206,0.717851,29.90,0.000000,0.461461,0.372865,4,48,411,0,4,4,4,2,6,14,14,83.23,3,249.70,0,3,1,2,1,2,0,3,0,3,0,3,1,2,0,3,0,3,0,3,0,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412004,0.579990,0.540648,0.509167,0.595892,69.95,0.944907,0.514203,0.500607,5,32,0,3,1,2,3,28,5,9,10,41.91,5,209.55,0,5,0,5,2,3,0,5,0,5,0,5,0,5,0,5,0,5,0,5,0,5,1.0
412005,0.548777,0.560873,0.447566,0.456449,34.90,1.083667,0.520958,0.576596,5,32,0,3,1,2,3,28,5,9,10,41.91,5,209.55,3,2,3,2,2,3,3,2,3,2,1,4,1,4,3,2,1,4,1,4,1,4,1.0
412006,0.623129,0.462269,0.508073,0.472124,34.90,1.009745,0.519297,0.549838,5,32,0,3,1,2,3,28,5,9,10,41.91,5,209.55,3,2,3,2,2,3,3,2,3,2,1,4,1,4,3,2,1,4,1,4,1,4,1.0
412007,0.636949,0.447757,0.487433,0.448513,34.90,1.039730,0.521708,0.474789,5,32,0,3,1,2,3,28,5,9,10,41.91,5,209.55,3,2,3,2,1,4,3,2,3,2,1,4,1,4,3,2,1,4,1,4,1,4,1.0
412008,0.660353,0.513247,0.496860,0.422085,34.90,1.046376,0.451154,0.537954,5,32,0,3,1,2,3,28,5,9,10,41.91,5,209.55,3,2,3,2,1,4,3,2,3,2,1,4,1,4,3,2,1,4,1,4,1,4,1.0

In [55]:
catboost_model,catboost_auc = catboost_classifier(df_train,df_test,[])

Catboost AUC on test set: 0.6625998718859887

In [56]:
lightgbm_model,lightgbm_auc = lightgbm(df_train,df_test)

LGBM AUC on test set:  0.6650706916029628

In [57]:
xgb_model,xgb_auc = xgboost_classifier(df_train,df_test)

Xgboost AUC on test set: 0.6622517664192289

In [78]:
neural_network_model, neural_network_auc, results_train, results_test = neural_network(df_train,df_test,10)

Epoch 1/10
1608/1608 [==============================] - 3s 2ms/step - loss: 0.6007 - auc_4: 0.7359 - val_loss: 0.6440 - val_auc_4: 0.6976
Epoch 2/10
1608/1608 [==============================] - 2s 1ms/step - loss: 0.5864 - auc_4: 0.7514 - val_loss: 0.6430 - val_auc_4: 0.7064
Epoch 3/10
1608/1608 [==============================] - 2s 1ms/step - loss: 0.5827 - auc_4: 0.7553 - val_loss: 0.6423 - val_auc_4: 0.7091
Epoch 4/10
1608/1608 [==============================] - 2s 1ms/step - loss: 0.5808 - auc_4: 0.7573 - val_loss: 0.6412 - val_auc_4: 0.7112
Epoch 5/10
1608/1608 [==============================] - 2s 2ms/step - loss: 0.5796 - auc_4: 0.7587 - val_loss: 0.6430 - val_auc_4: 0.7115
Epoch 6/10
1608/1608 [==============================] - 2s 1ms/step - loss: 0.5785 - auc_4: 0.7599 - val_loss: 0.6476 - val_auc_4: 0.7124
Epoch 7/10
1608/1608 [==============================] - 2s 1ms/step - loss: 0.5772 - auc_4: 0.7615 - val_loss: 0.6530 - val_auc_4: 0.7124
Epoch 8/10
1608/1608 [==============================] - 3s 2ms/step - loss: 0.5763 - auc_4: 0.7624 - val_loss: 0.6540 - val_auc_4: 0.7131
Epoch 9/10
1608/1608 [==============================] - 2s 1ms/step - loss: 0.5756 - auc_4: 0.7632 - val_loss: 0.6420 - val_auc_4: 0.7148
Epoch 10/10
1608/1608 [==============================] - 2s 1ms/step - loss: 0.5749 - auc_4: 0.7640 - val_loss: 0.6510 - val_auc_4: 0.7160
ROC on test set: 0.716005423062906

In [61]:
auc_dict_target = {"Catboost":catboost_auc,"Xgboost":xgb_auc,"Lightgbm":lightgbm_auc,"Neural_Network":neural_network_auc}
model_results_target = pd.DataFrame(auc_dict_target,index=["AUC_encoding"])
model_results_target.sort_values(by="AUC_encoding",ascending=False,inplace=True,axis=1)
model_results_target = round(model_results_target.transpose(),3) 
model_results_target

                AUC_encoding
Neural_Network         0.716
Lightgbm               0.665
Catboost               0.663
Xgboost                0.662

We can see that the tree-based models do not perform as good as the neural network model and are not affected by the encoding as their performances did not change. Overall using the **Leave-One-Out Encoding**, the neural network model performs better than before and reached a relatively good AUC score of **0.72**. From now on we are only going to focus on the neural network model.

In [30]:
# real_class = pd.read_csv("orders_realclass.txt", delimiter=";")
# real_class = real_class.astype({"orderItemID":int,"returnShipment":int})
# real_class.isna().sum()
# df_valid.reset_index(drop=True,inplace=True)
# df_valid["return"] = real_class["returnShipment"]
# df_valid.drop(["orderItemID"],axis=1,inplace=True)

orderItemID       0
returnShipment    0
dtype: int64

In [42]:
# df_train = pd.concat([df_train,df_test],axis=0)
# df_train, df_test, encoder = encode_categorical_columns(df_train,df_valid,cat_cols,0.1)
# neural_network_model, neural_network_auc, results_train, results_test,Y_probability = neural_network(df_train,df_test,1)

In [67]:

# real = df_test["return"].to_numpy()
# Y_flattened = Y_probability.flatten()
# evaluation = real - Y_flattened
# evaluation = abs(evaluation)
# evaluation_sum = np.sum(evaluation)
# evaluation_sum

In [36]:
# Get unique values in a column
list_include = ["item_id","size","order_id","brand_id","item_color"]
column_name= {"item_id":"order_item_id_nunique","size":"order_size_nunique","brand_id":"order_brand_id_nunique","item_color":"order_item_color_nunique"}
df_group = df[list_include].groupby(["order_id"]).agg({"item_id":"nunique","size":"nunique","brand_id":"nunique","item_color":"nunique"}).reset_index().rename(columns= column_name)
df = df.merge(df_group,on="order_id",how="left")

In [37]:
# Same item_id different colors, sizes
df_group = df[list_include].groupby(["order_id","item_id"]).agg({"item_color":"nunique","size":"nunique"}).reset_index().rename(columns= {"item_color":"order_item_id_color_nunique","size":"order_item_id_size_nunique"})
df = df.merge(df_group,on=["order_id","item_id"],how="left")

In [38]:
# Same brand_id different colors, sizes, item_id
df_group = df[list_include].groupby(["order_id","brand_id"]).agg({"item_color":"nunique","size":"nunique","item_id":"nunique"}).reset_index().rename(columns= {"item_color":"order_brand_id_color_nunique","size":"order_brand_id_size_nunique","item_id":"order_brand_id_item_id_nunique"})
df = df.merge(df_group,on=["order_id","brand_id"],how="left")

In [39]:
stats_to_agg = ["mean","std","min","max","sum","count","median","mad"]
# Item id price statistics
df_group = df[["item_id","item_price"]].groupby(["item_id"]).agg(stats_to_agg).reset_index().round(2)
df_group.columns = ['_item_id_'.join(col) for col in df_group.columns]
df_group.rename(columns= {"item_id_item_id_":"item_id"},inplace=True)
df_group.fillna(0,inplace=True)
df = df.merge(df_group,on="item_id",how="left")

In [40]:
# user_id price statistics
df_group = df[["user_id","item_price"]].groupby(["user_id"]).agg(stats_to_agg).reset_index().round(2)
# df_group.columns = ['_'.join(col) for col in df_group.columns]
df_group.columns = ['_user_id_'.join(col) for col in df_group.columns]
df_group.rename(columns= {"user_id_user_id_":"user_id"},inplace=True)
df_group.fillna(0,inplace=True)
df = df.merge(df_group,on="user_id",how="left")

In [41]:
# brand_id price statistics
df_group = df[["brand_id","item_price"]].groupby(["brand_id"]).agg(stats_to_agg).reset_index().round(2)
df_group.columns = ['_brand_id_'.join(col) for col in df_group.columns]
df_group.rename(columns= {"brand_id_brand_id_":"brand_id"},inplace=True)
df_group.fillna(0,inplace=True)
df = df.merge(df_group,on="brand_id",how="left")

In [42]:
# Return the first mode of a column grouped by user_id
df_group = df[["item_id","size","brand_id","item_color","user_id"]].groupby(["user_id"]).agg(lambda x: pd.Series.mode(x)[0])
df_group = df_group.add_prefix("mode_")
df = df.merge(df_group,on="user_id",how="left")

In [43]:
df

,order_item_id,order_date,delivery_date,item_id,size,item_color,brand_id,item_price,user_id,user_title,user_dob,user_state,user_reg_date,return,delivery_time,order_id,user_age,user_reg_age,order_weekday,delivery_weekday,order_month,delivery_month,order_day,delivery_day,order_week,delivery_week,order_item_count,order_sum,average_item_price_order,order_number_same_item_id,order_number_different_item_id,order_number_same_size,order_number_different_size,order_number_same_item_color,order_number_different_item_color,order_number_same_brand_id,order_number_different_brand_id,order_number_same_item_id_size,order_number_different_item_id_size,order_number_same_item_id_item_color,order_number_different_item_id_item_color,order_number_same_size_item_color,order_number_different_size_item_color,order_number_same_size_brand_id,order_number_different_size_brand_id,order_number_same_item_color_brand_id,order_number_different_item_color_brand_id,order_number_same_item_id_size_item_color,order_number_different_item_id_size_item_color,order_number_same_size_item_color_brand_id,order_number_different_size_item_color_brand_id,order_item_id_nunique,order_size_nunique,order_brand_id_nunique,order_item_color_nunique,order_item_id_color_nunique,order_item_id_size_nunique,order_brand_id_color_nunique,order_brand_id_size_nunique,order_brand_id_item_id_nunique,item_price_item_id_mean,item_price_item_id_std,item_price_item_id_min,item_price_item_id_max,item_price_item_id_sum,item_price_item_id_count,item_price_item_id_median,item_price_item_id_mad,item_price_user_id_mean,item_price_user_id_std,item_price_user_id_min,item_price_user_id_max,item_price_user_id_sum,item_price_user_id_count,item_price_user_id_median,item_price_user_id_mad,item_price_brand_id_mean,item_price_brand_id_std,item_price_brand_id_min,item_price_brand_id_max,item_price_brand_id_sum,item_price_brand_id_count,item_price_brand_id_median,item_price_brand_id_mad,mode_item_id,mode_size,mode_brand_id,mode_item_color
0,1,2012-04-01,2012-04-03,186,s,denim,25,69.90,794,Mrs,1965-01-06,Bad-Wue,2011-04-25,0.0,2,2012-04-01_794,47,342,6,1,4,4,1,3,13,14,3,209.8,69.93,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,1,2,2,2,2,3,1,1,1,1,1,69.47,3.41,39.90,69.90,21606.68,311,69.90,0.83,62.65,24.51,0.0,89.9,689.1,11,69.9,16.52,55.23,13.65,24.9,79.90,282536.19,5116,59.90,11.66,71,s,20,white
1,2,2012-04-01,2012-04-03,71,unsized,ocher,21,69.95,794,Mrs,1965-01-06,Bad-Wue,2011-04-25,1.0,2,2012-04-01_794,47,342,6,1,4,4,1,3,13,14,3,209.8,69.93,2,1,2,1,1,2,2,1,2,1,1,2,1,2,2,1,1,2,1,2,1,2,2,2,2,3,2,1,2,1,1,57.95,13.28,34.95,69.95,59108.70,1020,69.95,12.35,62.65,24.51,0.0,89.9,689.1,11,69.9,16.52,74.54,30.32,24.9,179.95,478991.63,6426,69.95,22.66,71,s,20,white
2,3,2012-04-01,2012-04-03,71,unsized,curry,21,69.95,794,Mrs,1965-01-06,Bad-Wue,2011-04-25,1.0,2,2012-04-01_794,47,342,6,1,4,4,1,3,13,14,3,209.8,69.93,2,1,2,1,1,2,2,1,2,1,1,2,1,2,2,1,1,2,1,2,1,2,2,2,2,3,2,1,2,1,1,57.95,13.28,34.95,69.95,59108.70,1020,69.95,12.35,62.65,24.51,0.0,89.9,689.1,11,69.9,16.52,74.54,30.32,24.9,179.95,478991.63,6426,69.95,22.66,71,s,20,white
3,4,2012-04-02,2012-04-06,22,s,green,14,39.90,808,Mrs,1959-11-09,Saxony,2012-01-04,0.0,4,2012-04-02_808,52,89,0,4,4,4,2,6,14,14,1,39.9,39.90,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,1,1,1,1,1,1,1,1,31.10,8.68,19.90,39.90,68669.20,2208,29.90,8.41,39.90,0.00,39.9,39.9,39.9,1,39.9,0.00,55.16,19.34,0.0,89.90,629751.00,11417,49.90,16.21,22,s,14,green
4,5,2012-04-02,2012-04-06,151,s,black,53,29.90,825,Mrs,1964-07-11,S-Holstein,2011-02-16,0.0,4,2012-04-02_825,48,411,0,4,4,4,2,6,14,14,3,249.7,83.23,1,2,2,1,2,1,1,2,1,2,1,2,2,1,1,2,1,2,1,2,1,2,3,2,3,2,1,1,1,1,1,27.59,4.02,24.90,49.90,1434.80,52,24.90,2.90,79.34,45.03,29.9,139.9,714.1,9,69.9,38.27,41.11,13.08,19.9,79.90,99614.71,2423,39.90,10.10,15,xl,37,black
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531165,50074,2013-04-29,2013-05-03,2342,s,terracotta,5,69.90,91920,Mrs,1962-03-08,Bayern,2013-04-29,NaN,4,2013-04-29_91920,51,0,0,4,4,5,29,3,18,18,9,748.2,83.13,1,8,5,4,3,6,4,5,1,8,1,8,3,6,4,5,3,6,1,8,3,6,8,2,6,5,1,1,2,1,3,62.24,4.26,49.90,69.90,106988.10,1719,59.90,3.60,83.13,20.82,64.9,129.0,748.2,9,79.9,15.42,64.66,20.40,0.0,169.90,2941212.79,45487,69.90,15.02,2505,s,5,red
531166,50075,2013-04-29,2013-05-03,2505,s,terracotta,5,64.90,91920,Mrs,1962-03-08,Bayern,2013-04-29,NaN,4,2013-04-29_91920,51,0,0,4,4,5,29,3,18,18,9,748.2,83.13,2,7,5,4,3,6,4,5,2,7,2,7,3,6,4,5,3,6,2,7,3,6,8,2,6,5,1,1,2,1,3,66.79,2.67,59.90,69.90,26650.10,399,64.90,2.51,83.13,20.82,64.9,129.0,748.2,9,79.9,15.42,64.66,20.40,0.0,169.90,2941212.79,45487,69.90,15.02,2505,s,5,red
531167,50076,2013-04-28,2013-05-02,2470,l,white,5,79.90,85095,Mrs,1950-02-14,Berlin,2013-03-24,NaN,4,2013-04-28_85095,63,35,6,3,4,5,28,2,17,18,1,79.9,79.90,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,1,1,1,1,1,1,1,1,79.90,0.00,79.90,79.90,112259.50,1405,79.90,0.00,79.90,0.00,79.9,79.9,239.7,3,79.9,0.00,64.66,20.40,0.0,169.90,2941212.79,45487,69.90,15.02,2470,l,5,ocher
531168,50077,2013-04-28,2013-05-02,2452,m,white,5,59.90,91922,Mrs,1969-11-27,Bburg,2013-04-28,NaN,4,2013-04-28_91922,43,0,6,3,4,5,28,2,17,18,2,119.8,59.90,2,0,2,0,1,1,2,0,2,0,1,1,1,1,2,0,1,1,1,1,1,1,1,1,1,2,2,1,2,1,1,59.90,0.00,59.90,59.90,68166.20,1138,59.90,0.00,59.90,0.00,59.9,59.9,119.8,2,59.9,0.00,64.66,20.40,0.0,169.90,2941212.79,45487,69.90,15.02,2452,m,5,black
531169,50078,2013-04-28,2013-05-02,2452,m,black,5,59.90,91922,Mrs,1969-11-27,Bburg,2013-04-28,NaN,4,2013-04-28_91922,43,0,6,3,4,5,28,2,17,18,2,119.8,59.90,2,0,2,0,1,1,2,0,2,0,1,1,1,1,2,0,1,1,1,1,1,1,1,1,1,2,2,1,2,1,1,59.90,0.00,59.90,59.90,68166.20,1138,59.90,0.00,59.90,0.00,59.9,59.9,119.8,2,59.9,0.00,64.66,20.40,0.0,169.90,2941212.79,45487,69.90,15.02,2452,m,5,black

In [ ]:
# Get list of the months to train, remove months on which to test
months_to_train = list(range(1,13))
months_to_train.remove(3)
# Split into train and test. "~" in front of a variable means "not"
df_train = df.loc[:k][df.loc[:k,"order_month"].isin(months_to_train)]
df_test = df.loc[:k][~df.loc[:k,"order_month"].isin(months_to_train)]

# Drop unnecessary columns
columns_to_drop = ["order_date", "delivery_date", "user_dob", "user_reg_date", "order_id","order_item_id"]
df_train.drop(columns_to_drop, axis=1, inplace=True)
df_test.drop(columns_to_drop, axis=1, inplace=True)
df_valid.drop(columns_to_drop, axis=1, inplace=True)

In [85]:
# cat_cols += ["order_weekday","delivery_weekday","order_month","delivery_month","order_day","delivery_day","order_week","delivery_week",]
# cat_cols += ["order_number_same_item_id", "order_number_different_item_id","order_number_same_size","order_number_different_size","order_number_same_item_color","order_number_different_item_color","order_number_same_brand_id","order_number_different_brand_id","order_number_same_item_id_size","order_number_different_item_id_size","order_number_same_item_id_item_color","order_number_different_item_id_item_color","order_number_same_size_item_color","order_number_different_size_item_color","order_number_same_size_brand_id","order_number_different_size_brand_id","order_number_same_item_color_brand_id","order_number_different_item_color_brand_id","order_number_same_item_id_size_item_color","order_number_different_item_id_size_item_color","order_number_same_size_item_color_brand_id","order_number_different_size_item_color_brand_id","order_item_id_nunique","order_size_nunique","order_brand_id_nunique","order_item_color_nunique","order_item_id_color_nunique","order_item_id_size_nunique","order_brand_id_color_nunique","order_brand_id_size_nunique","order_brand_id_item_id_nunique"]
cat_cols += ["mode_item_id","mode_size","mode_brand_id","mode_item_color",]

In [53]:
# Remove duplicates from list
# cat_cols = list(dict.fromkeys(cat_cols))

In [54]:
df_train.drop("order_item_id", axis=1, inplace=True)
df_test.drop("order_item_id", axis=1, inplace=True)

In [82]:
# Encode categorical variables using leave one out encoding
def encode_categorical_columns_WOE(df_train,df_test,columns,sig):
    encoder = WOEEncoder(cols=columns, return_df=True,sigma=sig, verbose=True,regularization=1)
    df_encode_train = encoder.fit_transform(df_train.drop(["return"],axis=1),df_train[["return"]])
    df_encode_test = encoder.transform(df_test.drop(["return"],axis=1))
    df_encode_train , df_encode_test = df_encode_train.join(df_train[["return"]]), df_encode_test.join(df_test[["return"]])
    return df_encode_train, df_encode_test, encoder

In [95]:
df_train_encoded, df_test_encoded,encoder = encode_categorical_columns_WOE(df_train, df_test, cat_cols, 5)

In [96]:
neural_network_model, neural_network_auc, results_train, results_test,Y_pred = neural_network(df_train_encoded,df_test_encoded,5)

Epoch 1/5
1608/1608 [==============================] - 3s 2ms/step - loss: 0.5162 - auc_8: 0.8174 - val_loss: 0.6914 - val_auc_8: 0.6803
Epoch 2/5
1608/1608 [==============================] - 3s 2ms/step - loss: 0.4966 - auc_8: 0.8323 - val_loss: 0.6894 - val_auc_8: 0.6837
Epoch 3/5
1608/1608 [==============================] - 3s 2ms/step - loss: 0.4900 - auc_8: 0.8369 - val_loss: 0.6926 - val_auc_8: 0.6939
Epoch 4/5
1608/1608 [==============================] - 3s 2ms/step - loss: 0.4870 - auc_8: 0.8387 - val_loss: 0.6900 - val_auc_8: 0.6962
Epoch 5/5
1608/1608 [==============================] - 3s 2ms/step - loss: 0.4849 - auc_8: 0.8399 - val_loss: 0.7014 - val_auc_8: 0.6944
ROC on test set: 0.6944263188323798

In [88]:
xgb_model,xgb_auc = xgboost_classifier(df_train_encoded,df_test_encoded)

Xgboost AUC on test set: 0.6578583068049221

In [89]:
 list(sorted(zip(df_train_encoded.columns.drop("return"), xgb_model.feature_importances_), key=lambda xx: xx[1], reverse=True))

[('user_id', 0.3629143),
 ('item_id', 0.0580105),
 ('delivery_weekday', 0.04126528),
 ('order_item_count', 0.030163879),
 ('delivery_time', 0.025723297),
 ('item_price_user_id_count', 0.02566001),
 ('order_number_different_item_id_size', 0.019650387),
 ('order_item_id_size_nunique', 0.017048104),
 ('order_number_same_item_id_item_color', 0.016531017),
 ('order_number_different_item_id_size_item_color', 0.016489157),
 ('delivery_month', 0.015307898),
 ('order_number_different_item_id_item_color', 0.014500046),
 ('order_sum', 0.0121763535),
 ('order_week', 0.0121295275),
 ('order_number_different_size_brand_id', 0.011515519),
 ('item_price_user_id_min', 0.011067886),
 ('order_month', 0.010844291),
 ('order_number_same_brand_id', 0.0107789785),
 ('order_item_id_nunique', 0.01017751),
 ('item_price', 0.009486998),
 ('delivery_week', 0.009479318),
 ('order_number_different_size_item_color', 0.009225875),
 ('item_price_user_id_sum', 0.008792782),
 ('order_brand_id_size_nunique', 0.008556078),
 ('order_number_same_item_color_brand_id', 0.008501148),
 ('order_number_different_item_id', 0.008423128),
 ('item_price_user_id_median', 0.0080632195),
 ('mode_item_id', 0.0070387973),
 ('order_number_different_item_color', 0.0063354713),
 ('order_number_same_size', 0.006304286),
 ('item_price_brand_id_mad', 0.0062159393),
 ('item_price_item_id_mean', 0.006082501),
 ('item_price_brand_id_mean', 0.0059021427),
 ('order_weekday', 0.0053719496),
 ('order_number_different_size_item_color_brand_id', 0.0052824197),
 ('order_number_different_item_color_brand_id', 0.0052608633),
 ('order_number_same_item_id', 0.0050169216),
 ('order_number_same_item_id_size', 0.0049310387),
 ('user_reg_age', 0.0047631157),
 ('brand_id', 0.0046716044),
 ('order_number_same_size_item_color_brand_id', 0.0046546943),
 ('mode_brand_id', 0.0046516545),
 ('item_price_item_id_median', 0.0044464497),
 ('item_price_item_id_std', 0.004420378),
 ('order_item_id_color_nunique', 0.004384406),
 ('item_price_brand_id_max', 0.004307109),
 ('order_brand_id_color_nunique', 0.0042973557),
 ('item_price_user_id_mad', 0.004243361),
 ('item_price_user_id_mean', 0.00411765),
 ('item_price_brand_id_count', 0.0041027036),
 ('item_price_item_id_max', 0.0040289382),
 ('item_price_item_id_count', 0.0039936323),
 ('order_item_color_nunique', 0.0039536706),
 ('item_price_brand_id_median', 0.0035583815),
 ('mode_size', 0.003514788),
 ('item_price_item_id_sum', 0.0034549022),
 ('order_size_nunique', 0.003452997),
 ('delivery_day', 0.0034336492),
 ('average_item_price_order', 0.0033956654),
 ('item_price_user_id_std', 0.0033305204),
 ('order_number_different_brand_id', 0.0032747388),
 ('item_price_item_id_mad', 0.0032279291),
 ('order_number_same_item_id_size_item_color', 0.0031817465),
 ('item_price_brand_id_std', 0.0031094966),
 ('order_number_same_size_brand_id', 0.0031002355),
 ('order_number_different_size', 0.00305),
 ('item_price_item_id_min', 0.0030373235),
 ('item_price_user_id_max', 0.0028686908),
 ('user_title', 0.0027629444),
 ('item_color', 0.0027395445),
 ('order_number_same_item_color', 0.0027248163),
 ('order_day', 0.0027232107),
 ('order_brand_id_nunique', 0.0027052942),
 ('order_brand_id_item_id_nunique', 0.002661416),
 ('item_price_brand_id_min', 0.0025190248),
 ('user_age', 0.0024922309),
 ('mode_item_color', 0.00187911),
 ('user_state', 0.0017996673),
 ('item_price_brand_id_sum', 0.0017242954),
 ('size', 0.0015602428),
 ('order_number_same_size_item_color', 0.00145561)]

In [164]:
def get_llr(values):
    """ Aggregation function for pandas groupby. Needed for llr function. """
    n1 = sum(values)
    n0 = len(values) - n1
    return math.log(n1 + 0.5) - math.log(n0 + 0.5)


def llr(df, var_names, targets, y='return'):
    """
    Args:
    - df        DataFrame >> historical set
    - var_names list >> variables to transform into llr's
    - targets   list >> target DataFrames
    - y         string >> response variable
    Returns list of llr's corresponding to targets.
    """
    llrs = df.groupby(var_names)[y].agg(get_llr)
    combos = [x for x in llrs.index]
    
    temp = pd.DataFrame(combos)
    temp['llr'] = llrs.values
    
    temp.columns = var_names + ['llr']
    print(temp)
    
    # res = []
    
    merged = pd.merge(df, temp, how='left', on=var_names).fillna(0)
    # res.append(merged['llr'].values)
    return merged

In [166]:
test_llrs = llr(df_train,["user_id"],df_test,"return")

       user_id       llr
0            6 -0.389465
1            9  0.938270
2           11 -1.609438
3           13 -1.466337
4           15  0.000000
...        ...       ...
52661    77558  0.367725
52662    77559 -1.098612
52663    77596  1.098612
52664    77597 -2.197225
52665    77598  2.397895

[52666 rows x 2 columns]

In [113]:
test_llrs

[]

In [32]:
# Get the second degree interaction of all categorical variables
def powerset(iterable):
    "powerset([1,2,3]) --> () (1,) (2,) (3,) (1,2) (1,3) (2,3) (1,2,3)"
    s = list(iterable)
    return chain.from_iterable(combinations(s, r) for r in range(2,3))
categorical_powerset = powerset(cat_cols)
for i in categorical_powerset:
    print(i)

('size', 'item_color')
('size', 'user_title')
('size', 'user_state')
('size', 'item_id')
('size', 'brand_id')
('size', 'user_id')
('item_color', 'user_title')
('item_color', 'user_state')
('item_color', 'item_id')
('item_color', 'brand_id')
('item_color', 'user_id')
('user_title', 'user_state')
('user_title', 'item_id')
('user_title', 'brand_id')
('user_title', 'user_id')
('user_state', 'item_id')
('user_state', 'brand_id')
('user_state', 'user_id')
('item_id', 'brand_id')
('item_id', 'user_id')
('brand_id', 'user_id')