In [1]:
from useful_functions import *
import warnings
warnings.filterwarnings('ignore')
from category_encoders import LeaveOneOutEncoder
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme(palette = "Dark2")
my_colors = [(0.10588235294117647, 0.6196078431372549, 0.4666666666666667),
  (0.8509803921568627, 0.37254901960784315, 0.00784313725490196)]
pd.set_option('display.max_columns', None)

In [2]:
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score
from catboost import CatBoostClassifier, Pool
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
import tensorflow as tensorflow
from lightgbm import LGBMClassifier
from sklearn.preprocessing import StandardScaler

### **5 Leave-one-out Encoding**
In order not to split the data into three different sets, we will use a leave-one-out encoding. This type of encoding calculates the target response mean for each variable **excluding** the current observation to reduce the effect of outliers. It further adds random noise to the target response to avoid overfitting.

In [3]:
df = pd.read_csv("df_processed.csv")
df

,order_item_id,order_date,delivery_date,item_id,size,item_color,brand_id,item_price,user_id,user_title,user_dob,user_state,user_reg_date,return,delivery_time,order_id,user_age,user_reg_age,order_weekday,delivery_weekday,order_month,delivery_month,order_day,delivery_day,order_week,delivery_week,average_item_price_order,order_item_count,order_sum,order_number_same_item_id,order_number_different_item_id,order_number_same_size,order_number_different_size,order_number_same_item_color,order_number_different_item_color,order_number_same_brand_id,order_number_different_brand_id,order_number_same_item_id_size,order_number_different_item_id_size,order_number_same_item_id_item_color,order_number_different_item_id_item_color,order_number_same_size_item_color,order_number_different_size_item_color,order_number_same_size_brand_id,order_number_different_size_brand_id,order_number_same_item_color_brand_id,order_number_different_item_color_brand_id,order_number_same_item_id_size_item_color,order_number_different_item_id_size_item_color,order_number_same_size_item_color_brand_id,order_number_different_size_item_color_brand_id
0,1,2012-04-01,2012-04-03,186,s,denim,25,69.90,794,Mrs,1965-01-06,Bad-Wue,2011-04-25,0.0,2,2012-04-01_794,47,342,6,1,4,4,1,3,13,14,69.93,3,209.8,0,3,0,3,0,3,0,3,0,3,0,3,0,3,0,3,0,3,0,3,0,3
1,2,2012-04-01,2012-04-03,71,unsized,ocher,21,69.95,794,Mrs,1965-01-06,Bad-Wue,2011-04-25,1.0,2,2012-04-01_794,47,342,6,1,4,4,1,3,13,14,69.93,3,209.8,1,2,1,2,0,3,1,2,1,2,0,3,0,3,1,2,0,3,0,3,0,3
2,3,2012-04-01,2012-04-03,71,unsized,curry,21,69.95,794,Mrs,1965-01-06,Bad-Wue,2011-04-25,1.0,2,2012-04-01_794,47,342,6,1,4,4,1,3,13,14,69.93,3,209.8,1,2,1,2,0,3,1,2,1,2,0,3,0,3,1,2,0,3,0,3,0,3
3,4,2012-04-02,2012-04-06,22,s,green,14,39.90,808,Mrs,1959-11-09,Saxony,2012-01-04,0.0,4,2012-04-02_808,52,89,0,4,4,4,2,6,14,14,39.90,1,39.9,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
4,5,2012-04-02,2012-04-06,151,s,black,53,29.90,825,Mrs,1964-07-11,S-Holstein,2011-02-16,0.0,4,2012-04-02_825,48,411,0,4,4,4,2,6,14,14,83.23,3,249.7,0,3,1,2,1,2,0,3,0,3,0,3,1,2,0,3,0,3,0,3,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531165,50074,2013-04-29,2013-05-03,2342,s,terracotta,5,69.90,91920,Mrs,1962-03-08,Bayern,2013-04-29,NaN,4,2013-04-29_91920,51,0,0,4,4,5,29,3,18,18,83.13,9,748.2,0,9,4,5,2,7,3,6,0,9,0,9,2,7,3,6,2,7,0,9,2,7
531166,50075,2013-04-29,2013-05-03,2505,s,terracotta,5,64.90,91920,Mrs,1962-03-08,Bayern,2013-04-29,NaN,4,2013-04-29_91920,51,0,0,4,4,5,29,3,18,18,83.13,9,748.2,1,8,4,5,2,7,3,6,1,8,1,8,2,7,3,6,2,7,1,8,2,7
531167,50076,2013-04-28,2013-05-02,2470,l,white,5,79.90,85095,Mrs,1950-02-14,Berlin,2013-03-24,NaN,4,2013-04-28_85095,63,35,6,3,4,5,28,2,17,18,79.90,1,79.9,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1
531168,50077,2013-04-28,2013-05-02,2452,m,white,5,59.90,91922,Mrs,1969-11-27,Bburg,2013-04-28,NaN,4,2013-04-28_91922,43,0,6,3,4,5,28,2,17,18,59.90,2,119.8,1,1,1,1,0,2,1,1,1,1,0,2,0,2,1,1,0,2,0,2,0,2
531169,50078,2013-04-28,2013-05-02,2452,m,black,5,59.90,91922,Mrs,1969-11-27,Bburg,2013-04-28,NaN,4,2013-04-28_91922,43,0,6,3,4,5,28,2,17,18,59.90,2,119.8,1,1,1,1,0,2,1,1,1,1,0,2,0,2,1,1,0,2,0,2,0,2

In [4]:
low_cardinality_cat_cols = ["size","item_color","user_title","user_state"]
high_cardinality_cat_cols = ["item_id","brand_id","user_id"]
cat_cols = low_cardinality_cat_cols + high_cardinality_cat_cols

In [5]:
# size of the known dataset
k = max(df["order_item_id"])-1
# Get the validation set
df_valid = df.iloc[k+1:, :]

In [6]:
# Get list of the months to train, remove months on which to test
months_to_train = list(range(1,13))
months_to_train.remove(3)
# Split into train and test. "~" in front of a variable means "not"
df_train = df.loc[:k][df.loc[:k,"order_month"].isin(months_to_train)]
df_test = df.loc[:k][~df.loc[:k,"order_month"].isin(months_to_train)]

# Drop unnecessary columns
columns_to_drop = ["order_date", "delivery_date", "user_dob", "user_reg_date", "order_id","order_item_id"]
df_train.drop(columns_to_drop, axis=1, inplace=True)
df_test.drop(columns_to_drop, axis=1, inplace=True)
df_valid.drop(columns_to_drop, axis=1, inplace=True)

Since we are no longer using one-hot encoding, we will rework our models not to include the one-hot encoding.

In [88]:
# Xgboost classifier to train the model and use ROC as the metric
def xgboost_classifier(df_train, df_test):
    X_train, Y_train = df_train.drop(["return"],axis=1), df_train["return"]
    X_test, Y_test = df_test.drop(["return"],axis=1), df_test["return"]
    
    model = XGBClassifier(max_depth=7, n_estimators=50, learning_rate=0.1,
                            n_jobs=-1, random_state=42)
    model.fit(X_train, Y_train, eval_metric='auc', eval_set=[(X_test, Y_test)],early_stopping_rounds = 20,verbose = 0)
    Y_pred = model.predict(X_test)
    auc = roc_auc_score(Y_test, Y_pred)
    print("Xgboost AUC on test set:", auc)
    return model,auc

In [9]:
# Catboost classifier to train the model and use ROC as the metric
def catboost_classifier(df_train, df_test,cat_cols):
    X_train, Y_train = df_train.drop(["return"],axis=1), df_train["return"]
    X_test, Y_test = df_test.drop(["return"],axis=1), df_test["return"]
    model = CatBoostClassifier(iterations=50, learning_rate=0.1, depth=10,
                            loss_function='Logloss', eval_metric='AUC',
                            random_seed=42)
    pool_train = Pool(X_train, Y_train,cat_features = cat_cols)

    pool_test = Pool(X_test, Y_test,cat_features = cat_cols)
    

    
    model.fit(pool_train, eval_set=pool_test, use_best_model=True, verbose=False)
    Y_pred = model.predict(pool_test)
    auc = roc_auc_score(Y_test, Y_pred)
    print("Catboost AUC on test set:", auc)
    return model,auc

In [10]:
# LightGBM
def lightgbm(df_train,df_test):
    X_train, Y_train = df_train.drop(["return"],axis=1), df_train["return"]
    X_test, Y_test = df_test.drop(["return"],axis=1), df_test["return"]
    
    model = LGBMClassifier(boosting_type='gbdt')
    model.fit(X_train, Y_train)
    Y_pred = model.predict(X_test)
    auc = roc_auc_score(Y_test, Y_pred)
    print("LGBM AUC on test set: ", auc)
    return model,auc

In [45]:
def neural_network(df_train,df_test,epochs):
    X_train, Y_train = df_train.drop(["return"],axis=1), df_train["return"]
    X_test, Y_test = df_test.drop(["return"],axis=1), df_test["return"]
    X_train = StandardScaler().fit_transform(X_train)
    X_test = StandardScaler().fit_transform(X_test)
    
    model = Sequential()
    model.add(Dense(units=64, activation='relu', input_dim=X_train.shape[1]))
    model.add(Dense(units=64, activation='relu'))
    model.add(Dense(units=1, activation='sigmoid'))
    auc = tensorflow.keras.metrics.AUC()
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=[auc])
    
    results = model.fit(X_train, Y_train, epochs=epochs, batch_size=256, verbose=1,validation_data=(X_test, Y_test))
    Y_pred = model.predict(X_test)
    auc_1 = roc_auc_score(Y_test, Y_pred)
    print("ROC on test set:", auc_1)
    return model,auc_1, results.history[auc.name], results.history['val_'+auc.name], Y_pred

In [37]:
# Encode categorical variables using leave one out encoding
def encode_categorical_columns(df_train,df_test,columns,sig):
    encoder = LeaveOneOutEncoder(cols=columns, return_df=True,sigma=sig, verbose=True)
    df_encode_train = encoder.fit_transform(df_train.drop(["return"],axis=1),df_train[["return"]])
    df_encode_test = encoder.transform(df_test.drop(["return"],axis=1))
    df_encode_train , df_encode_test = df_encode_train.join(df_train[["return"]]), df_encode_test.join(df_test[["return"]])
    return df_encode_train, df_encode_test, encoder

In [92]:
df_train, df_test, encoder = encode_categorical_columns(df_train,df_test,cat_cols,0.1)

In [93]:
df_train

,item_id,size,item_color,brand_id,item_price,user_id,user_title,user_state,delivery_time,user_age,user_reg_age,order_weekday,delivery_weekday,order_month,delivery_month,order_day,delivery_day,order_week,delivery_week,average_item_price_order,order_item_count,order_sum,order_number_same_item_id,order_number_different_item_id,order_number_same_size,order_number_different_size,order_number_same_item_color,order_number_different_item_color,order_number_same_brand_id,order_number_different_brand_id,order_number_same_item_id_size,order_number_different_item_id_size,order_number_same_item_id_item_color,order_number_different_item_id_item_color,order_number_same_size_item_color,order_number_different_size_item_color,order_number_same_size_brand_id,order_number_different_size_brand_id,order_number_same_item_color_brand_id,order_number_different_item_color_brand_id,order_number_same_item_id_size_item_color,order_number_different_item_id_size_item_color,order_number_same_size_item_color_brand_id,order_number_different_size_item_color_brand_id,return
0,0.617373,0.548014,0.520261,0.735728,69.90,0.539592,0.487594,0.365430,2,47,342,6,1,4,4,1,3,13,14,69.93,3,209.80,0,3,0,3,0,3,0,3,0,3,0,3,0,3,0,3,0,3,0,3,0,3,0.0
1,0.723669,0.453842,0.451558,0.443151,69.95,0.441709,0.483240,0.518341,2,47,342,6,1,4,4,1,3,13,14,69.93,3,209.80,1,2,1,2,0,3,1,2,1,2,0,3,0,3,1,2,0,3,0,3,0,3,1.0
2,0.619180,0.345758,0.486067,0.640610,69.95,0.446865,0.491034,0.455364,2,47,342,6,1,4,4,1,3,13,14,69.93,3,209.80,1,2,1,2,0,3,1,2,1,2,0,3,0,3,1,2,0,3,0,3,0,3,1.0
3,0.396502,0.490705,0.393220,0.658324,39.90,0.510317,0.404429,0.537943,4,52,89,0,4,4,4,2,6,14,14,39.90,1,39.90,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0.0
4,0.577156,0.550700,0.627206,0.717851,29.90,0.000000,0.461461,0.372865,4,48,411,0,4,4,4,2,6,14,14,83.23,3,249.70,0,3,1,2,1,2,0,3,0,3,0,3,1,2,0,3,0,3,0,3,0,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412004,0.579990,0.540648,0.509167,0.595892,69.95,0.944907,0.514203,0.500607,5,32,0,3,1,2,3,28,5,9,10,41.91,5,209.55,0,5,0,5,2,3,0,5,0,5,0,5,0,5,0,5,0,5,0,5,0,5,1.0
412005,0.548777,0.560873,0.447566,0.456449,34.90,1.083667,0.520958,0.576596,5,32,0,3,1,2,3,28,5,9,10,41.91,5,209.55,3,2,3,2,2,3,3,2,3,2,1,4,1,4,3,2,1,4,1,4,1,4,1.0
412006,0.623129,0.462269,0.508073,0.472124,34.90,1.009745,0.519297,0.549838,5,32,0,3,1,2,3,28,5,9,10,41.91,5,209.55,3,2,3,2,2,3,3,2,3,2,1,4,1,4,3,2,1,4,1,4,1,4,1.0
412007,0.636949,0.447757,0.487433,0.448513,34.90,1.039730,0.521708,0.474789,5,32,0,3,1,2,3,28,5,9,10,41.91,5,209.55,3,2,3,2,1,4,3,2,3,2,1,4,1,4,3,2,1,4,1,4,1,4,1.0
412008,0.660353,0.513247,0.496860,0.422085,34.90,1.046376,0.451154,0.537954,5,32,0,3,1,2,3,28,5,9,10,41.91,5,209.55,3,2,3,2,1,4,3,2,3,2,1,4,1,4,3,2,1,4,1,4,1,4,1.0

In [55]:
catboost_model,catboost_auc = catboost_classifier(df_train,df_test,[])

Catboost AUC on test set: 0.6625998718859887

In [56]:
lightgbm_model,lightgbm_auc = lightgbm(df_train,df_test)

LGBM AUC on test set:  0.6650706916029628

In [57]:
xgb_model,xgb_auc = xgboost_classifier(df_train,df_test)

Xgboost AUC on test set: 0.6622517664192289

In [78]:
neural_network_model, neural_network_auc, results_train, results_test = neural_network(df_train,df_test,10)

Epoch 1/10
1608/1608 [==============================] - 3s 2ms/step - loss: 0.6007 - auc_4: 0.7359 - val_loss: 0.6440 - val_auc_4: 0.6976
Epoch 2/10
1608/1608 [==============================] - 2s 1ms/step - loss: 0.5864 - auc_4: 0.7514 - val_loss: 0.6430 - val_auc_4: 0.7064
Epoch 3/10
1608/1608 [==============================] - 2s 1ms/step - loss: 0.5827 - auc_4: 0.7553 - val_loss: 0.6423 - val_auc_4: 0.7091
Epoch 4/10
1608/1608 [==============================] - 2s 1ms/step - loss: 0.5808 - auc_4: 0.7573 - val_loss: 0.6412 - val_auc_4: 0.7112
Epoch 5/10
1608/1608 [==============================] - 2s 2ms/step - loss: 0.5796 - auc_4: 0.7587 - val_loss: 0.6430 - val_auc_4: 0.7115
Epoch 6/10
1608/1608 [==============================] - 2s 1ms/step - loss: 0.5785 - auc_4: 0.7599 - val_loss: 0.6476 - val_auc_4: 0.7124
Epoch 7/10
1608/1608 [==============================] - 2s 1ms/step - loss: 0.5772 - auc_4: 0.7615 - val_loss: 0.6530 - val_auc_4: 0.7124
Epoch 8/10
1608/1608 [==============================] - 3s 2ms/step - loss: 0.5763 - auc_4: 0.7624 - val_loss: 0.6540 - val_auc_4: 0.7131
Epoch 9/10
1608/1608 [==============================] - 2s 1ms/step - loss: 0.5756 - auc_4: 0.7632 - val_loss: 0.6420 - val_auc_4: 0.7148
Epoch 10/10
1608/1608 [==============================] - 2s 1ms/step - loss: 0.5749 - auc_4: 0.7640 - val_loss: 0.6510 - val_auc_4: 0.7160
ROC on test set: 0.716005423062906

In [61]:
auc_dict_target = {"Catboost":catboost_auc,"Xgboost":xgb_auc,"Lightgbm":lightgbm_auc,"Neural_Network":neural_network_auc}
model_results_target = pd.DataFrame(auc_dict_target,index=["AUC_encoding"])
model_results_target.sort_values(by="AUC_encoding",ascending=False,inplace=True,axis=1)
model_results_target = round(model_results_target.transpose(),3) 
model_results_target

                AUC_encoding
Neural_Network         0.716
Lightgbm               0.665
Catboost               0.663
Xgboost                0.662

We can see that the tree-based models do not perform as good as the neural network model and are not affected by the encoding as their performances did not change. Overall using the **Leave-One-Out Encoding**, the neural network model performs better than before and reached a relatively good AUC score of **0.72**. From now on we are only going to focus on the neural network model.

In [30]:
real_class = pd.read_csv("orders_realclass.txt", delimiter=";")
real_class = real_class.astype({"orderItemID":int,"returnShipment":int})
real_class.isna().sum()

orderItemID       0
returnShipment    0
dtype: int64

In [35]:
df_valid.reset_index(drop=True,inplace=True)
df_valid["return"] = real_class["returnShipment"]
df_valid.drop(["orderItemID"],axis=1,inplace=True)
df_valid

,item_id,size,item_color,brand_id,item_price,user_id,user_title,user_state,delivery_time,user_age,user_reg_age,order_weekday,delivery_weekday,order_month,delivery_month,order_day,delivery_day,order_week,delivery_week,average_item_price_order,order_item_count,order_sum,order_number_same_item_id,order_number_different_item_id,order_number_same_size,order_number_different_size,order_number_same_item_color,order_number_different_item_color,order_number_same_brand_id,order_number_different_brand_id,order_number_same_item_id_size,order_number_different_item_id_size,order_number_same_item_id_item_color,order_number_different_item_id_item_color,order_number_same_size_item_color,order_number_different_size_item_color,order_number_same_size_brand_id,order_number_different_size_brand_id,order_number_same_item_color_brand_id,order_number_different_item_color_brand_id,order_number_same_item_id_size_item_color,order_number_different_item_id_size_item_color,order_number_same_size_item_color_brand_id,order_number_different_size_item_color_brand_id,return
0,2347,l,magenta,1,89.9,12489,Mrs,Hesse,2,50,343,0,2,4,4,1,3,14,14,95.90,5,479.5,1,4,2,3,0,5,3,2,0,5,0,5,0,5,2,3,0,5,0,5,0,5,1
1,2741,l,grey,1,99.9,12489,Mrs,Hesse,2,50,343,0,2,4,4,1,3,14,14,95.90,5,479.5,0,5,2,3,1,4,3,2,0,5,0,5,1,4,2,3,1,4,0,5,1,4,1
2,2514,unsized,ecru,19,79.9,12489,Mrs,Hesse,2,50,343,0,2,4,4,1,3,14,14,95.90,5,479.5,0,5,0,5,0,5,0,5,0,5,0,5,0,5,0,5,0,5,0,5,0,5,1
3,2347,m,brown,1,89.9,12489,Mrs,Hesse,35,50,343,0,0,4,5,1,6,14,19,95.90,5,479.5,1,4,0,5,0,5,3,2,0,5,0,5,0,5,0,5,0,5,0,5,0,5,0
4,2690,l,grey,1,119.9,12489,Mrs,Hesse,4,50,343,0,4,4,4,1,5,14,14,95.90,5,479.5,0,5,2,3,1,4,3,2,0,5,0,5,1,4,2,3,1,4,0,5,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50073,2342,s,terracotta,5,69.9,91920,Mrs,Bayern,4,51,0,0,4,4,5,29,3,18,18,83.13,9,748.2,0,9,4,5,2,7,3,6,0,9,0,9,2,7,3,6,2,7,0,9,2,7,1
50074,2505,s,terracotta,5,64.9,91920,Mrs,Bayern,4,51,0,0,4,4,5,29,3,18,18,83.13,9,748.2,1,8,4,5,2,7,3,6,1,8,1,8,2,7,3,6,2,7,1,8,2,7,1
50075,2470,l,white,5,79.9,85095,Mrs,Berlin,4,63,35,6,3,4,5,28,2,17,18,79.90,1,79.9,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0,1,0
50076,2452,m,white,5,59.9,91922,Mrs,Bburg,4,43,0,6,3,4,5,28,2,17,18,59.90,2,119.8,1,1,1,1,0,2,1,1,1,1,0,2,0,2,1,1,0,2,0,2,0,2,0
50077,2452,m,black,5,59.9,91922,Mrs,Bburg,4,43,0,6,3,4,5,28,2,17,18,59.90,2,119.8,1,1,1,1,0,2,1,1,1,1,0,2,0,2,1,1,0,2,0,2,0,2,0

In [42]:
df_train = pd.concat([df_train,df_test],axis=0)

In [43]:
df_train, df_test, encoder = encode_categorical_columns(df_train,df_valid,cat_cols,0.1)

In [61]:
neural_network_model, neural_network_auc, results_train, results_test,Y_probability = neural_network(df_train,df_test,30)

Epoch 1/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5912 - auc_2: 0.7477 - val_loss: 0.6268 - val_auc_2: 0.7161
Epoch 2/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5789 - auc_2: 0.7605 - val_loss: 0.6256 - val_auc_2: 0.7218
Epoch 3/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5753 - auc_2: 0.7642 - val_loss: 0.6280 - val_auc_2: 0.7251
Epoch 4/30
1880/1880 [==============================] - 3s 1ms/step - loss: 0.5739 - auc_2: 0.7656 - val_loss: 0.6267 - val_auc_2: 0.7248
Epoch 5/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5725 - auc_2: 0.7672 - val_loss: 0.6206 - val_auc_2: 0.7267
Epoch 6/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5713 - auc_2: 0.7685 - val_loss: 0.6244 - val_auc_2: 0.7225
Epoch 7/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5701 - auc_2: 0.7697 - val_loss: 0.6263 - val_auc_2: 0.7251
Epoch 8/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5691 - auc_2: 0.7708 - val_loss: 0.6275 - val_auc_2: 0.7283
Epoch 9/30
1880/1880 [==============================] - 4s 2ms/step - loss: 0.5684 - auc_2: 0.7716 - val_loss: 0.6257 - val_auc_2: 0.7266
Epoch 10/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5677 - auc_2: 0.7722 - val_loss: 0.6253 - val_auc_2: 0.7249
Epoch 11/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5668 - auc_2: 0.7731 - val_loss: 0.6249 - val_auc_2: 0.7260
Epoch 12/30
1880/1880 [==============================] - 3s 1ms/step - loss: 0.5663 - auc_2: 0.7737 - val_loss: 0.6279 - val_auc_2: 0.7250
Epoch 13/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5655 - auc_2: 0.7744 - val_loss: 0.6261 - val_auc_2: 0.7247
Epoch 14/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5650 - auc_2: 0.7750 - val_loss: 0.6245 - val_auc_2: 0.7243
Epoch 15/30
1880/1880 [==============================] - 4s 2ms/step - loss: 0.5643 - auc_2: 0.7758 - val_loss: 0.6267 - val_auc_2: 0.7254
Epoch 16/30
1880/1880 [==============================] - 3s 1ms/step - loss: 0.5638 - auc_2: 0.7763 - val_loss: 0.6295 - val_auc_2: 0.7233
Epoch 17/30
1880/1880 [==============================] - 2s 1ms/step - loss: 0.5632 - auc_2: 0.7769 - val_loss: 0.6281 - val_auc_2: 0.7255
Epoch 18/30
1880/1880 [==============================] - 2s 1ms/step - loss: 0.5626 - auc_2: 0.7775 - val_loss: 0.6308 - val_auc_2: 0.7207
Epoch 19/30
1880/1880 [==============================] - 2s 1ms/step - loss: 0.5620 - auc_2: 0.7781 - val_loss: 0.6351 - val_auc_2: 0.7180
Epoch 20/30
1880/1880 [==============================] - 2s 1ms/step - loss: 0.5614 - auc_2: 0.7787 - val_loss: 0.6421 - val_auc_2: 0.7178
Epoch 21/30
1880/1880 [==============================] - 3s 1ms/step - loss: 0.5611 - auc_2: 0.7789 - val_loss: 0.6316 - val_auc_2: 0.7197
Epoch 22/30
1880/1880 [==============================] - 2s 1ms/step - loss: 0.5608 - auc_2: 0.7793 - val_loss: 0.6324 - val_auc_2: 0.7224
Epoch 23/30
1880/1880 [==============================] - 2s 1ms/step - loss: 0.5606 - auc_2: 0.7796 - val_loss: 0.6340 - val_auc_2: 0.7167
Epoch 24/30
1880/1880 [==============================] - 2s 1ms/step - loss: 0.5602 - auc_2: 0.7799 - val_loss: 0.6347 - val_auc_2: 0.7185
Epoch 25/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5600 - auc_2: 0.7802 - val_loss: 0.6378 - val_auc_2: 0.7191
Epoch 26/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5598 - auc_2: 0.7803 - val_loss: 0.6333 - val_auc_2: 0.7199
Epoch 27/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5595 - auc_2: 0.7805 - val_loss: 0.6357 - val_auc_2: 0.7176
Epoch 28/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5592 - auc_2: 0.7809 - val_loss: 0.6475 - val_auc_2: 0.7128
Epoch 29/30
1880/1880 [==============================] - 3s 2ms/step - loss: 0.5590 - auc_2: 0.7810 - val_loss: 0.6367 - val_auc_2: 0.7131
Epoch 30/30
1880/1880 [==============================] - 3s 1ms/step - loss: 0.5587 - auc_2: 0.7813 - val_loss: 0.6385 - val_auc_2: 0.7175
ROC on test set: 0.7174613509648621

In [62]:
# evaluation = np.sum(df_test["return"] - Y_probability)
real = df_test["return"].to_numpy()

In [63]:
Y_flattened = Y_probability.flatten()
Y_flattened

array([0.5301988 , 0.54011565, 0.54728097, ..., 0.28367236, 0.2557755 ,
       0.26562518], dtype=float32)

In [64]:
evaluation = real - Y_flattened
evaluation = abs(evaluation)
evaluation_sum = np.sum(evaluation)

In [65]:
evaluation_sum

20443.416286535314